@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




a.active hr {
    display: block;
    @apply w-full bg-blue-500 h-0.5;
}

.nav-active hr {
    width: 50% !important;
    transition: all 0.3s;
}

*{
    font-family: 'Outfit';
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
